/* @import 'meyer-reset.css'; */

/* SETTINGS */

:root {
    --main-bg-color: #F2E8DF;
    --main-font-color:#26110D;
    --accent-color:#395873;
    --accent-color-2:#D96704;
    --accent-color-3: #F2AE72;
}
* {
    background-color: --main-bg-color;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--main-font-color);
}

/* HEADER */

header {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}

.topnav {
    background-color: var(--accent-color);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}

.topnav a:hover {
    background-color: var(--accent-color-3);
    color: var(--main-font-color);
}

.topnav a.active {
    background-color: var(--accent-color-2);
    color: white;
}

/* MAIN */

/* FOOTER */